hr {
    border: none;
    height: 1px;
    color: #333;
    background-color: #333;
}

a {
    color: dodgerblue;
}

* {
    box-sizing: border-box;
}

.header {
    overflow: hidden;
    background-color: rgba(233, 230, 230, 0);
    padding: 10px 30px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 10px;
    border-radius: 1px;
}

.header a.logo {
    font-size: 25px;
    color: blue;
    font-size: 50px;
    font-family: Satisfy;
    margin-top: 2vh;
}

.header a.active {
    background-color: dodgerblue;
    color: rgb(244, 244, 244);
}

#label {
    color: #000;
}

.header-right {
    float: right;
    padding-left: 10px;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

.modal {
    background-color: blue;
}

#signin {
    height: 30px;
    position: absolute;
    right: 8%;
    background-color: blue;
    top: 5vh;
}

#signup {
    height: 30px;
    position: absolute;
    right: 2%;
    background-color: blue;
    top: 5vh;
}

.middleText {
    font-family: Satisfy;
    margin-top: 8vh;
    margin-left: 2vh;
    color: rgb(0, 0, 0);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid grey;
    width: 30%;
    box-shadow: 0 4px 10px 0 rgb(54, 53, 55, ), 0 4px 20px 0 rgb(57, 55, 57, );
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.container {
    padding: 16px;
    background-color: white;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: fit-content;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.title1 {
    text-align: center;
    color: black;
}

#submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
}

#submit2 {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
}

#memberoption {
    color: blue;
    display: inline;
    cursor: pointer;
}

button {
    background-color: rgb(234, 12, 130);
    padding: 10px;
    color: white;
    margin: 10px;
}

.title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    font-size: 250%;
}

.button {
    width: 90px;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 100%;
    background: #d506b6;
    color: #fff;
    top: 22vh;
    right: 10vh;
    margin: 10px 10px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
}

.likeBlogButton {
    bottom: 30vh;
    left: 4vh;
}

button:hover {
    opacity: 1;
}

#name {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    font-size: x-large;
}

.commentbox {
    background-color: lightgray;
    padding: 20px 20px;
}

#addEventNames p {
    background-color: white;
    padding: 20px 10px;
}

.userComments {
    background-color: white;
    width: 90%;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    line-height: 75px;
    font-size: 25px;
    padding: 10px 10px;
}

.para {
    left: 3vh;
    right: 3vh;
    text-align: justify;
    margin-left: 5vh;
    margin-right: 8vh;
    font-size: large;
}

#paraText {
    background-color: white;
    color: rgb(0, 0, 0);
}

input {
    padding: 10px;
    width: 70%;
    height: 40px;
}

h3 {
    font-family: 'Marck Script', cursive;
    font-size: xx-large;
    color: #000000;
    top: 23vh;
    left: 3vh;
}

#comment {
    background-color: lightgrey;
    padding: 20px 5px;
}

h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    color: #000000;
}

h1 {
    text-align: center;
    font-family: 'Abel', sans-serif;
    color: #0000ff;
}

.addEventNames {
    background-color: rgb(172, 6, 6);
    width: 300px;
    border: 15px gray;
    padding: 50px;
    margin: 20px;
}

.addEventNames p {
    background-color: white;
    padding: 20px 10px;
}

.post-title {
    text-align: center;
    font-family: 'Abel', sans-serif;
    color: #000000;
    top: 14vh;
    right: 90vh;
    font-size: xx-large;
}


/* cyrillic */

@font-face {
    font-family: 'Marck Script';
    font-style: normal;
    font-weight: 400;
    src: local('Marck Script'), local('MarckScript-Regular'), url(https://fonts.gstatic.com/s/marckscript/v8/nwpTtK2oNgBA3Or78gapdwuyzCg_WMM.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


/* latin-ext */

@font-face {
    font-family: 'Marck Script';
    font-style: normal;
    font-weight: 400;
    src: local('Marck Script'), local('MarckScript-Regular'), url(https://fonts.gstatic.com/s/marckscript/v8/nwpTtK2oNgBA3Or78gapdwuyxig_WMM.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Marck Script';
    font-style: normal;
    font-weight: 400;
    src: local('Marck Script'), local('MarckScript-Regular'), url(https://fonts.gstatic.com/s/marckscript/v8/nwpTtK2oNgBA3Or78gapdwuyyCg_.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin */

@font-face {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    src: local('Satisfy Regular'), local('Satisfy-Regular'), url(https://fonts.gstatic.com/s/satisfy/v8/rP2Hp2yn6lkG50LoCZOIHQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}